body {
  background-image: linear-gradient(to right top, #f6ede8, #f7e9e1, #f7e5da, #f7e1d3, #f7ddcc);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.color .column {
  height: 10px;
  transition: all 0.2s ease-in;
}
.clm_thin .thin1 {
  background: hsl(0, 100%, 79%);
}
.clm_thin .thin2 {
  background: hsl(0, 100%, 84%);
}
.clm_thin .thin3 {
  background: hsl(30, 100%, 86%);
}
.clm_normal .norm1 {
  background: hsl(90, 100%, 30%);
}
.clm_overWeight .ow1 {
  background: hsl(60, 100%, 48%);
}

.clm_obesity .obs1 {
  background: hsl(0, 100%, 73%);
}
.clm_obesity .obs2 {
  background: hsl(0, 100%, 62%);
}
.clm_obesity .obs3 {
  background: hsl(0, 100%, 43%);
}

.clm_thin .thin1.active {
  box-shadow: -2px -5px 30px hsl(0, 100%, 89%);
}
.clm_thin .thin2.active {
  box-shadow: -2px -5px 30px hsl(0, 100%, 74%);
}
.clm_thin .thin3.active {
  box-shadow: -2px -5px 30px hsl(30, 100%, 75%);
}
.clm_normal .norm1.active {
  box-shadow: -2px -5px 30px hsl(90, 100%, 70%);
}
.clm_overWeight .ow1.active {
  box-shadow: -2px -5px 30px hsl(60, 100%, 80%);
}

.clm_obesity .obs1.active {
  box-shadow: -2px -5px 30px hsl(0, 100%, 85%);
}
.clm_obesity .obs2.active {
  box-shadow: -2px -5px 30px hsl(0, 100%, 80%);
}
.clm_obesity .obs3.active {
  box-shadow: -2px -5px 30px hsl(0, 100%, 75%);
}

.active {
  transform: scale(1.5);
}
.bmi_scale {
  margin-top: 30px;
}
.bmi_wrapper {
  border-radius: 10px;
  max-width: 400px;
  margin: 30px auto;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 8px 24px rgb(0 0 0 / 10%);
}
.bmi_inner {
  padding: 30px;
}

.bmi_result {
  background: #fff;
  padding: 20px;
  text-align: center;
  font-weight: 700;
  box-shadow: 2px 5px 10px #f6ede8;
  border-radius: 3px;
}
.bmi_form h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}
.bmi_height {
  margin-bottom: 10px;
}
.bmi_form input {
  border-radius: 3px;
  border: 2px solid #ddd;
}
.bmi_form input:focus,
.bmi_form input:active {
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 10%);
  border: 2px solid #ddd;
  background: #fff;
}
.bmi_form input::placeholder {
  font-weight: 500;
  color: #ccc;
}
#submit {
  background: #e59f6e;
  width: 100%;
  border-radius: 3px;
  border: none;
  margin-top: 20px;
  font-size: 14px;
}

.bmi_title {
  background: #f6ede8;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 15px;
}
.bmi_title h4 {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 16px;
}
