.color .column {
  height: 30px;
  transition: all 0.2s ease-in;
}
.clm_thin .thin1 {
  background: #ff9595;
}
.clm_thin .thin2 {
  background: #ffafaf;
}
.clm_thin .thin3 {
  background: #ffdab6;
}
.clm_normal .norm1 {
  background: #4e9b00;
}
.clm_overWeight .ow1 {
  background: #f5f500;
}

.clm_obesity .obs1 {
  background: #ff7474;
}
.clm_obesity .obs2 {
  background: #ff3e3e;
}
.clm_obesity .obs3 {
  background: #db0000;
}
.active {
  transform: scale(1.5);
}
.bmi_scale {
  margin-top: 30px;
}
