.color .column {
  height: 30px;
  transition: all 0.5s ease-in;
}
.clm_thin .color .class1 {
  background: #ff9595;
}
.clm_thin .color .class2 {
  background: #ffafaf;
}
.clm_thin .color .class3 {
  background: #ffdab6;
}
.clm_normal .color .column {
  background: #4e9b00;
}
.clm_overWeight .color .column {
  background: #f5f500;
}

.clm_obesity .color .class1 {
  background: #ff7474;
}
.clm_obesity .color .class2 {
  background: #ff3e3e;
}
.clm_obesity .color .class3 {
  background: #db0000;
}
.active {
  transform: scale(1.5);
}
